.contactContainer{
  padding: 10px;
}

.contactContainer .blockContact{
  padding-left: 10px;
}

.contactsFormContainer{
  padding: 10px;
}

.contactsFormContainer .contactsButtonBlock{
  padding-bottom: 10px;
}

.formBlockError{
  border: solid 2px red;
}

.contactsFormContainer .contactsButtonBlock button{
margin: 10px;
padding-left: 20px;
padding-right: 20px;
}

.blockContactsForm .blockContacts{
  padding-left: 10px;
}
